.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

.login-submit {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #1ED760;
}